* { 
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	height:100vh;
	width:100%;
	background-image: url(./images/439767.jpg);
}
h1 {
	margin-bottom:10px;
}
#app {
	display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 1fr 5%;
	overflow: hidden;
    overflow-wrap: break-word;
	height:100%;
	width:90%;
	max-width:1200px;
	margin: 0 auto;
}
header, footer {
	grid-row:1;
	padding: 10px;
	background-color:black;
	color:white;
	text-align:center;
}
header {
	border-bottom: 2px solid orange;
}

.navLink {
	padding:5px;
	background-color:black;
	color:white;
	text-decoration:none;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:16px;
	border:none;
}
.navLink:hover {
	background-color:orange;
	color:black;
}
main {
	grid-row:2;
	background-color:white;
}
section {
	margin-bottom: 10px;
}
.newInputLine {
	margin-bottom:10px;
}
.userListItem {
	margin:10px;
	display:flex;
}
.productList {
	display:flex;
	border: 1px solid black;
	margin: 10px;
}
.productList img {
	width:100px;
	height:100px;
}

footer {
	grid-row:3;
	border-top:2px solid orange;
}
