* { 
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	height:100vh;
	width:100%;
	background-image: url(./images/439767.jpg);
}
h1, h2, h3, .navLink {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
	font-size: 40px;
	color:purple;
	margin:10px 10px 20px 10px;
	border-bottom:1px solid orange;
	text-align:center;
}
h2 {
	font-size: 30px;
	margin: 10px 0;
	color:orange;
	border-bottom:1px solid purple;
}
h3 {
	text-align: right;
	padding:5px;
	background-color:orange;
}
#app {
	display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 1fr 5%;
	overflow: hidden;
    overflow-wrap: break-word;
	height:100%;
	width:90%;
	max-width:1200px;
	margin: 0 auto;
}
header, footer {
	grid-row:1;
	padding: 10px;
	background-color:black;
	color:white;
	text-align:center;
}
header {
	border-bottom: 2px solid orange;
}
nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.navLink {
	padding:5px;
	background-color:black;
	color:white;
	text-decoration:none;
	font-size:16px;
	border:none;
}
.navLink:hover {
	background-color:orange;
	color:black;
}
main {
	grid-row:2;
	background-color:white;
	padding:10px;
	overflow-y: scroll;
}
section {
	margin-bottom: 10px;
}
.userOptions, .adminOptions {
	text-align:center;
}
.userOptions button {
	margin: 0 5px;
}
.newInputLine {
	margin-bottom:10px;
}
.form {
	border:1px solid purple;
	padding:10px;
	width:auto;
	max-width: 400px;
	margin: 0 auto 10px auto;
}
label {
	font-weight:bold;
}
.userListItem {
	margin-bottom:10px;
	padding:10px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid purple;
}
.productList {
	display:flex;
	border: 1px solid purple;
	margin-bottom:10px;
}
.productList img, .singleProduct img {
	width:156px;
	height:156px;
}
.productInfo {
	width:100%;
	padding:5px;
}
.productOptions {
	text-align: right;
}
footer {
	grid-row:3;
	border-top:2px solid orange;
}
