* { 
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	height:100vh;
	width:100%;
	font-size:16px;
	background-image: url(./images/439767.jpg);
}
a {
	text-decoration: none;
	color:black;
	border:none;
}
h1, h2, h3, h4, .navLink {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
	font-size: 40px;
	font-family: 'Sigmar One', cursive;
	color:purple;
	margin:10px 10px 20px 10px;
	border-bottom:1px solid orange;
	text-align:center;
}
h2 {
	font-size: 30px;

	margin: 10px 0;
	color:orange;
	border-bottom:1px solid purple;
}
h3, h4 {
	font-size:20px;
	text-align: right;
	padding:5px;
	background-color:orange;
}
h4 {
	background-color:purple;
	color:white;
}
button {
	padding:3px;
	margin:3px 0;
}
#app {
	display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
	overflow: hidden;
    overflow-wrap: break-word;
	height:100%;
	width:90%;
	max-width:1200px;
	margin: 0 auto;
}
header, footer {
	grid-row:1;
	padding: 10px;
	background-color:black;
	color:white;
	text-align:center;
}
header {
	border-bottom: 2px solid orange;
}
nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.navLink {
	padding:5px;
	background-color:black;
	color:white;
	text-decoration:none;
	font-size:16px;
	border:none;
}
.navLink:hover {
	background-color:orange;
	color:black;
}
main {
	grid-row:2;
	background-color:white;
	padding:10px;
	overflow-y: scroll;
}
.greeting {
	text-align:center;
	width:50%;
	min-width:400px;
	margin: 0 auto;
	font-size: 20px;
}
.greeting h1 {
	border: 2px solid orange;
	border-radius:10px;
	background-color:purple;
	padding:10px;
	color:orange;
	font-size:60px;
}
.greeting h2 {
	border:none;
}
#logReg {
	margin: 0 auto;
	max-width:500px;
	text-align:center;
}
section {
	margin-bottom: 10px;
}
.userOptions, .adminOptions {
	text-align:center;
}
.userOptions button {
	margin: 0 5px;
}
.newInputLine {
	margin-bottom:10px;
}
.form {
	border:1px solid purple;
	border-radius:10px;
	overflow:hidden;
	max-width: 400px;
	margin: 0 auto 10px auto;
}
form {
	padding:10px;
	width:auto;
}
label {
	font-weight:bold;
}
select {
	width:100%;
	border-color:purple;
	padding:5px;
}
select option {
	padding:3px;
}
select option:checked, select option:hover {
	background-color:orange;
}
#products select {
	width:auto;
}
.listItem {
	border: 1px solid purple;
	border-radius:10px;
	overflow:hidden;
	margin-bottom:10px;
}
.userListItem, .orderListItemInner {
	padding:10px;
	display:flex;
	justify-content: space-between;
}
.userListItem {
	align-items: center;
}
.productList {
	border: 1px solid purple;
	border-radius:10px;
	margin-bottom:10px;
	overflow:hidden;
}
.productList img, .singleProduct img {
	width:156px;
	max-height:156px;
}
.productListInner {
	padding:5px 5px 1px 5px;
	display:flex;
	justify-content: space-between;
	width:100%;
	border-bottom: 1px solid purple;
}
.productListInfo {
	width:100%;
	text-align:justify;
	padding: 0 5px;
}
.right {
	text-align: right;
}
.orderListItem {
	border: 1px solid purple;
	border-radius:10px;
	overflow:hidden;
	margin-bottom:10px;
}
.orderListItemInner {
	border-bottom: 1px solid purple;
}
.orderListItemProductSingle {
	margin:10px 10%;
	border:1px solid orange;
	border-radius:10px;
	overflow: hidden;
}
.orderListProductSingleInner {
	display:flex;
}
.orderListItemProductInfo {
	padding:5px;
}
footer {
	grid-row:3;
	border-top:2px solid orange;
}